body {
    margin: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 10px;
}

#chai {
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px
}

#ratton {
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
}

#result {
    padding-top: 10px;
    font-size: 18px;
}